# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Builds
# =========================
build/
dist/
.next/
apps/*/dist/
apps/*/.next/
packages/*/dist/

# =========================
# TypeScript
# =========================
*.tsbuildinfo
**/*.tsbuildinfo

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Git
# =========================
.git/
.gitignore